body {
  margin: 0px;
  background: lightgray;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden; /* Hide scrollbars */
} 

#divPage {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: lightgray;
}

.divImg {
  position: absolute;
  /* border: thick dotted #f44336; */
  margin: 0px;
  padding: 0px;
}
.imgComics {
  border: thick #f44336;
  margin: 0px;
  padding: 0px;
}

#divDisplayPage {
  position: absolute;
  left: 0px;
  top: 0px;
  user-select: none;
}

#divMenuButton {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
  height: 80px;
  background: #00000007;
}

#divMenu {
  position: fixed;
  display: none;
  width: 300px;
  height: 320px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  background: #e9fae2;
  text-align: center;
  color: rgb(0, 0, 0);
  vertical-align: middle; 
}
#divMenu.active {
  display: block;
  padding: 0px;
}

#divMenu button {
  position: relative;
  width: calc(100% - 10px);
  height: 50px;
  margin: 5px;
  font-size: 2em;
  border-radius: 5px;
}

#divMenu .small_button {
  margin: 5px 1px;
  width: calc((100% - 30px)/4);
}

#divMenu .selected {
  background-color: orange;
}

#divPageBar {
  position: absolute;
  left: 5px;
  width: calc(100% - 10px);
  top: calc(100% - 80px);
  height: 80px;
  /* background: #ff000050; */
}
